
/* color */
:root {
--neoPink: #f72585;
--neoPinkPurp: #b5179e;
--neoPurpLite: #7209b7;
--neoPurpMid: #560bad;
--neoPurpDark: #480ca8;
--neoPurp: #3a0ca3;
--neoPurpBlu: #3f37c9;
--neoBlu: #4361ee;
--neoBluLite: #4895ef;
--neoTeal: #4cc9f0;
--light-gray: rgba(217, 218, 221, 0.5);
}

/* Global */

body {
  font-family: 'Atkinson Hyperlegible', sans-serif, monospace;
}

/* Fonts */

h1 {
  font-size: 3em;
  font-weight: 700;
}

p {
  font-size: 1.5em;
  font-weight: 400;
}

/* Utilities */

/* Hero */


/* About */

.about {
  height: 100vh;
}

/* Contact */

.contactWrap {
  background-color: var(--light-gray);
  text-align: center;
  width: 60%;
  margin: auto;
  padding: 1em 0;
  border-radius: 8px;
}

.copyright {
  text-align: center;
  margin-top: 2em;
  color: #ffffff;
}


/* About */
.about {
  height: 100vh;
}

/* Footer */

footer {
  height: 30vh;
  background-image: linear-gradient(
    45deg,
    var(--neoPink),
    var(--neoPinkPurp),
    var(--neoPurpLite),
    var(--neoPurpMid),
    var(--neoPurpDark),
    var(--neoPurp),
    var(--neoPurpBlu),
    var(--neoBluLite),
    var(--neoTeal));
  background-repeat: no-repeat;
  background-size: cover;
}
